<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.protectedappsconfig" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>ProtectedAppsConfig</name><js-module name="ProtectedAppsConfig" src="www/ProtectedAppsConfig.js"><clobbers target="cordova.plugins.ProtectedAppsConfig" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="ProtectedAppsConfig"><param name="android-package" value="cordova-plugin-protectedappsconfig.ProtectedAppsConfig" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/ProtectedAppsConfig.java" target-dir="src/cordova-plugin-protectedappsconfig/ProtectedAppsConfig" /></platform></plugin>